#chessboard
{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: rgb(255, 0, 179);
}

#chessboard .tile
{
    width: 100px;
    height: 100px;
}

#chessboard .black-tile
{
    background-color: rgb(196, 87, 87);
}

#chessboard .white-tile
{
    background-color: rgb(233, 181, 181);
}